.description {
    height: 50vh;
    text-align: center;
}

p {
    font-size: 3rem;
    margin: 0;
    color: #8ae9c1;
}

.desc {
    font-size: 2rem;
}

.topic,
.code {
    width: 100%;
}

.options-input {
    width: 100%;
}


button {
    background-color: #8ae9c1;
}